/* div that represent calculator */
#main {
    width: 300px;
    height: 280px;
    background-color: black;
    /* align-items: center;
    justify-content: center; */
}

/* buttons */
input {
    width: 20%;
    height: 40px;
    font-size: 20px;
    margin: 6px;
}

/* display */
#d {
    width: 94%;
    height: 50px;
    background-color: silver;
}

body {
    background-color: burlywood;
}